.gsd-keyboard.settings-ported
cava/
nvim/
chromium/
config.jsonc
dconf/
downlist
easyeffects/
evolution/
font-manager/
fontconfig/
go/
gtk-3.0/
pavucontrol.ini
systemd/
user-dirs.dirs
user-dirs.locale
waypaper/
